<!-- ####################################### PAGE CONTENT #########################################  -->
{% from 'basic.html' import basic_contentheader %}
{{ basic_contentheader('日志管理', '查看操作历史') }}

<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#product-list">查看日志</a></li>
{#            <li><a data-toggle="tab" href="#product-add">添加商品</a></li>#}
        </ul>
        <div class="tab-content">
            <div id="order-list" class="tab-pane active">
                <table id="orderlisttb" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户</th>
                            <th>时间</th>
                            <th>操作内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    function PageContentOnLoad() {

    }
</script>

<!-- ####################################### PAGE CONTENT #########################################  -->