<!DOCTYPE html>
<html>
  <head>
    {% from 'basic.html' import basic_header, basic_css_icheck %}
    {{ basic_header('三驾马车-商家管理平台 | 登录') }}
    {{ basic_css_icheck() }}
  </head>

  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <img src="/static/adminlte/images/3crgs3.png" class="img-circle">商家平台</img>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p id="msgtxt" class="login-box-msg">请输入登录信息</p>
        <form>
          <div class="form-group has-feedback">
            <input id="loginame" type="name" class="form-control" placeholder="用户名"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input id="loginpass" type="password" class="form-control" placeholder="密码"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> 记住我的登录信息
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">

            </div><!-- /.col -->
          </div>
        </form>
 <button id="myloginbtn" onclick="return loginfn()" class="btn btn-primary btn-block ">登录</button>
        <div class="social-auth-links text-center">
          <p>- 使用其他方式登录 -</p>
          <a  class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-weixin"></i>使用微信</a>
          <a  class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-weibo"></i>使用微博</a>
        </div><!-- /.social-auth-links -->

        <a href="">忘记密码了？</a><br>
        <a href="register" class="text-center">我需要注册</a>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    {% from 'basic.html' import basic_jsfiles, basic_js_icheck, basic_jsonrpc %}
    {{ basic_jsfiles() }}
    {{ basic_js_icheck() }}
    {{ basic_jsonrpc() }}

    <script>
      function loginfn ()  {
          var name = $("#loginame").val();
          var pass = $("#loginpass").val();
          $.ajax({
            type:'POST',
            url: "login.do",
            data: {'username': name, 'password': pass, 'ajax.login': ""},
            success: function(data) {
              if (data.status == 1) {
                  location.href = "/dealerAdmin";
              }else {
                  $("#msgtxt").html('<font color="red">用户名或者密码错误,请重新尝试！</font>');
              }
            },
            error: function () {
              console.log("登录post请求失败!");
            }
          });
      }

      $(document).ready(function(){
        $.jsonRPC.setup({
          endPoint: '/dealerApi',
          namespace: ''
        });
      });

      $(".form-control").change( function () {
         var name = $("#loginame").val();
          if (name == "") {
            return;
          }
         var nameexist = false;
         $.jsonRPC.request('checkUser', {
            params: {name: name},
            success: function(ret) {
              nameexist = ret.result;
              msg = "请输入登录信息";
              if (nameexist) {
                  msg = '<font color="blue">请输入密码</font>';
              }else {
                  msg = '<font color="red">此用户名不存在</font>';
              }
              console.log(nameexist);
              console.log(msg);
              $("#msgtxt").html(msg);
            },
            error: function(ret) {
              console.log("checkUser API failed!");
            }
         });
      });

      $("#loginpass").focus(function () {
         var name = $("#loginame").val();
         if (name == "") {
            $("#msgtxt").html('<font color="red">请输入用户名</font>');
            $("#loginame").focus();
         }
      });
    </script>

  </body>
</html>
