<!DOCTYPE html>
<html>
  <head>
    {% from 'basic.html' import basic_header, basic_css_icheck %}
    {{ basic_header('入住三驾马车') }}
    {{ basic_css_icheck() }}
  </head>

  <body class="register-page">
    <div class="register-box">
      <div class="login-logo">
        <img src="/static/adminlte/images/3crgs3.png" class="img-circle">入住三驾马车</img>
      </div><!-- /.login-logo -->

      <div class="register-box-body">
        <p class="login-box-msg">注册会员</p>
        <form action="register.do" method="post">
          <div class="form-group has-feedback">
            <input type="text" name="regname" class="form-control" placeholder="登录名"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="email" name="regweixin" class="form-control" placeholder="微信号"/>
            <i class="fa fa-weixin form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <input type="email" name="regmail" class="form-control" placeholder="邮箱"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="regpass" class="form-control" placeholder="密码"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="再次确认密码"/>
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> 我接受 <a href="#3carrigesterm.html">商家入住条款</a>
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
            </div><!-- /.col -->
          </div>
        </form>        

        <a href="login" class="text-center">喔！我已经有帐号了啊，我要登录</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->

    {% from 'basic.html' import basic_jsfiles, basic_js_icheck %}
    {{ basic_jsfiles() }}
    {{ basic_js_icheck() }}

  </body>
</html>
