<!-- ####################################### PAGE CONTENT #########################################  -->
{% from 'basic.html' import basic_contentheader %}
{{ basic_contentheader('门店信息', '浏览与配置店面信息详情') }}

<!-- Main content -->
    <section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#storetab1">查看</a></li>
            <li><a data-toggle="tab" href="#storetab2">配置</a></li>
        </ul>
        <div class="tab-content">
            <div id="storetab1" class="tab-pane active">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">辉达皮套 店面图片</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for n in storeimglist %}
                                <div class="col-sm-6 col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="{{ n }}?{{ timestamp }}" alt="缩略图">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">店面描述</h3>
                    </div>
                    <div class="panel-body">
                        <div id="descarea" data="{{ desc }}">
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">营业时间</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4 col-md-3">
                                开始时间: <b class="text-red">{{ servicetime[0] }}</b> </br>
                                结束时间: <b class="text-red">{{ servicetime[1] }}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">地址</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4 col-md-5">
                            <span class="text-blue"> {{ address }} </span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.tab-pane -->

            <div id="storetab2" class="tab-pane">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">图片修改与上传</h3>
                    </div>
                    <div id="myxxpp" class="panel-body">

                            <div class="col-sm-12 col-md-12">
                                <input id="storePicUpload" type="file" accept="image/jpeg, image/png, image/gif" multiple="true">
                            </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">描述修改</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <textarea id="storeinfoeditor" placeholder="请输入店面描述"
                                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </form>
                        <div class="col-sm-1 col-md-1">
                            <button id="descsubmit" class="btn btn-block btn-primary">保存</button>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">营业时间设置</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4 col-md-1">
                                开始时间
                            </div>
                            <div class="col-sm-4 col-md-2 input-group clockpicker">
                                <input id="srvtimestart" type="text" class="form-control" value="{{ servicetime[0] }}">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                            </div>
                            <div class="col-sm-4 col-md-1">
                                结束时间
                            </div>
                            <div class="col-sm-4 col-md-2 input-group clockpicker">
                                <input id="srvtimeend" type="text" class="form-control" value="{{ servicetime[0] }}">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">地址</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div style="height: 500px" class="col-sm-12 col-md-12" id="map_canvas">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>

    </section><!-- /.content -->

<script>
    function MapMarkPoint(map, point, isanimate) {
        map.clearOverlays();
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
        if(isanimate)
            marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        marker.enableDragging();

        console.log('坐标为' + point.lng + "," + point.lat);
    }

    function MapMarkAddr(map, geoc, point, storename) {
        //var p = marker.getPosition();
        var opts = {
            width: 200,     // 信息窗口宽度
            height: 100,     // 信息窗口高度
            title: "辉达皮套"  // 信息窗口标题
        };

        geoc.getLocation(point, function (rs) {
            var addComp = rs.addressComponents;
            var addresstxt = addComp.province + ", " + addComp.city + ", "
                + addComp.district + ", " + addComp.street + ", " +
                "" + addComp.streetNumber;
            var infoWindow = new BMap.InfoWindow("您标记的店面地址为：" + addresstxt, opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow, point); //开启信息窗口
            var location_txt = point.lng + ',' + point.lat;
            $.jsonRPC.request('setStoreLocation', {
                params: {location: location_txt , addr: addresstxt},
                success: function(ret) {
                    if (ret.result) {
                        console.log("设置店面地址信息ok.");
                    }else {
                        console.log("设置店面地址信息err.");
                    }
                },
                error: function(ret) {
                    console.log("delProduct API(setStoreLocation) failed!");
                }
            });
        });
    }

    function LoadBaiduMap()
    {
        map = new BMap.Map("map_canvas");
        map.centerAndZoom(new BMap.Point(104.579959,31.544422), 13);
        //map.centerAndZoom("绵阳市",13);

        var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左下角，添加比例尺
        var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件

        map.addControl(top_left_control);
        map.addControl(top_left_navigation);
        map.addControl(new BMap.MapTypeControl());
        map.enableScrollWheelZoom();
        map.enableContinuousZoom();

        var geoc = new BMap.Geocoder();

        var curr_point = new BMap.Point({{ location }});
        MapMarkPoint(map, curr_point, true);

        //单击获取点击的经纬度
        map.addEventListener("click", function (e) {
            MapMarkPoint(map, e.point, false);
            MapMarkAddr(map, geoc, e.point, '辉达皮套');
        });

        console.log("百度地图已加载");
    }

    function PageContentOnLoad() {

        // fill description text.
        var desctxt = $("#descarea").attr("data");
        $("#descarea").html(desctxt);

        console.log("calling PageContentOnLoad-Storeinfo");
        $('.clockpicker').clockpicker(
            {
                placement: 'top',
                align: 'right',
                afterDone: function() {
                    var clock_s = $('#srvtimestart')[0].value;
                    var clock_e = $('#srvtimeend')[0].value;
                    $.jsonRPC.request('setStoreOpeningTime', {
                        params: {from_t: clock_s,  to_t: clock_e},
                        success: function(ret) {
                            if (ret.result) {
                                console.log("保存店面服务时间OK.");
                            }else {
                                console.log("保存店面服务时间-错误.");
                            }
                        },
                        error: function(ret) {
                            console.log("delProduct API(setStoreOpeningTime) failed!");
                        }
                    });
                }
            }
        );

        $("#storeinfoeditor").wysihtml5();

        if(typeof(map) == 'undefined') {
            LoadBaiduMap();
        }else {
            map = null;
            $("#map_canvas").html("");
            LoadBaiduMap();
        }

        $("#storePicUpload").fileinput({
            language: "zh",
            uploadUrl: "/dealerAdmin/dealerct_storepic.up",
            uploadAsync: false,
            overwriteInitial: true,
            showUploadedThumbs: false,
            initialCaption: "门店图片上传修改",
            previewFileType: "image",
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
            //maxImageWidth: 800,
            //maxImageHeight: 600,
            //minImageWidth: 400,
            //minImageHeight: 300
        });

        $("#storePicUpload").on('filebatchuploadsuccess', function (event, data, previewId, index) {
            console.log("File uploaded!");
{#                //<img src='/static/Images/Dealer/dbh/0.jpg' class='file-preview-image' alt='0' title='0'></img>#}
{#                var re = /src=\/?\S+/g;#}

            // refresh images.
            var all_thumb = $(".thumbnail");
            for(var j = 0; j < all_thumb.length; j++){
                var src =  all_thumb.find("img").eq(j).attr("src");
                all_thumb.find("img").eq(j).attr("src",src+"?" + Date.now());
            }
        });

        $("#descsubmit").on("click", function(data) {
            var txt = $("#storeinfoeditor").val();
            if(txt == "")
                alert("请输入详细的描述信息再保存!");
            if (confirm("要保存新的描述信息吗?")) {
                $.jsonRPC.request('setStoreDescription', {
                    params: {text: txt},
                    success: function(ret) {
                        if (ret.result) {
                            console.log("保存店面描述信息OK.");
                        }else {
                            alert('保存描述信息失败');
                        }
                    },
                    error: function(ret) {
                        console.log("delProduct API failed!");
                    }
                });
            }
        })

    }
</script>

<!-- ####################################### PAGE CONTENT #########################################  -->