<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Get User</title>
</head>
<body>
		<h1> Get User Info </h1>
		<table border="1" cellpadding="10%">
			<thead>
				<tr>
					<th>Name</th>
                    <th>Gender</th>
					<th>Age</th>
                    <th>height</th>
				</tr>
			</thead>
			<tbody>
				{% for u in Users %}
					<tr>
						<td>{{u.name}}</td>
                        <td>{{u.gender}}</td>
						<td>{{u.age}}</td>
                        <td>{{u.height}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
</body>
</html>